---
layout: default
search_exclude: true
---

<div class="home">
	<!----- README ------>
	{% include_relative README.md %}

	{% assign categories = "" | split:"" %}
	{% for c in site.categories %}
		{% assign categories = categories | push: c[0] %}
	{% endfor %}
	{% assign categories = categories | sort_natural %}

	<!----- CONTENTS ------>
	<div class="main-contents">

		<ul class="contents-left">
			<h2>Projects</h2>
			<li><a href=http://github.com/gusdnd852/chatbot>딥러닝 기반 목적지향 한국어 챗봇 오픈소스 프레임워크</a></li>
			<li><a href=http://github.com/gusdnd852/bigdata-lecture>전북대학교 2020년 여름방학 빅데이터 교육과정 강의</a></li>
			<li><a href=http://github.com/gusdnd852/strabismus-recognition>딥러닝과 적외선 시선추적기 기반 안과용 사시진단 모듈</a></li>
			<li><a href=http://github.com/gusdnd852/citrus-pest-disease-recognition>베이지안 신경망 기반 감귤 병해충 검출 모델</a></li>
			<li><a href=http://github.com/gusdnd852/blog>주피터 노트북을 기반으로 한 깃허브 블로그 (현재 사이트)</a></li>
			<li><a href=http://github.com/gusdnd852/social-robot-bao>지적장애 아동의 치료와 교육을 위한 인공지능 로봇</a></li>
			<li><a href=http://github.com/gusdnd852/transformer-pytorch>트랜스포머 파이토치 구현과 Multi30K 데이터셋 테스트</a></li>
			<li><a href=http://github.com/gusdnd852/resnext-parallel-keras>병렬 그룹 컨볼루션을 탑재한 ResNeXt 케라스 최초구현</a></li>
			<li><a href=http://github.com/gusdnd852/movie-recommender>Word2Vec을 이용한 사용자 콘텐츠 기반 영화 추천시스템</a></li>
			<li><a href=http://github.com/gusdnd852/rx-firebase>RxFirebase 자체구현 및 안드로이드 MVVM 프레임워크</a></li>
			<li><a href=http://github.com/gusdnd852/titanic>타이타닉 생존자와 사망자 데이터 분석 캐글 프로젝트</a></li>
			<li><a href=http://github.com/gusdnd852/sketch2image>딥러닝 생성모델을 이용한 스케치 → 풍경화 변환모델</a></li>
			<li><a href=http://github.com/gusdnd852/low-saturation-image-classifier>K-Means 알고리즘을 활용한 저채도 이미지 분류기</a></li>
			<li><a href=http://github.com/gusdnd852/self-driving-with-gta5>OpenCV를 활용한 GTA5 자율주행 프로젝트 (미완성)</a></li>
			<li><a href=http://github.com/gusdnd852/java-matrix>2D 행렬을 자유자재로 제어할 수 있는 자바 프레임워크</a></li>
			<li><a href=http://github.com/gusdnd852/reactive-streams>비동기 전송이 가능한 Reactive JDBC 프레임워크</a></li>
			<li><a href=http://github.com/gusdnd852/software-community>스프링부트와 JSP를 이용한 학과 내 커뮤니티 홈페이지</a></li>
			<li><a href=http://github.com/gusdnd852/still-alive>삶의 의미를 찾기 위한 안드로이드 다이어리 애플리케이션</a></li>
			<li><a href=http://github.com/gusdnd852/lets-kirin>IOT 디바이스 제어를 위한 안드로이드 챗봇 애플리케이션</a></li>
			<li><a href=http://github.com/gusdnd852/brain-training>다양한 두뇌훈련게임을 포함한 카카오 게임 애플리케이션</a></li>
		</ul>

		<ul class="contents-right">
			<h2>Notebooks</h2>
			{% for category in categories %}
				<li><a href="category.html?cate={{ category }}">{{ category }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>
