---
layout: default
search_exclude: true
---

<div class="home">
	<!----- README ------>
	{% include_relative README.md %}

	{% assign categories = "" | split:"" %}
	{% for c in site.categories %}
		{% assign categories = categories | push: c[0] %}
	{% endfor %}
	{% assign categories = categories | sort_natural %}

	<!----- CONTENTS ------>
	<div class="main-contents">

		<ul class="contents-right">
			<h2>Notebooks</h2>
			{% for category in categories %}
				<li><a href="category.html?cate={{ category }}">{{ category }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>
