---
layout: default
comments: true
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h2 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    {%- if page.description -%}
    	<p class="page-description">{{ page.description | escape }}</p
    {%- endif -%}

    {% if page.categories.size > 0 and site.show_tags %}
      <i class="fas fa-tags category-tags-icon"></i><p class="category-tags"> 
      {% for category in  page.categories  %}
            {{category}}
        {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
      </p>
    {% endif %}

    {% if page.layout == 'notebook' %}
      {% if page.badges or page.badges == nil %}
        <div class="pb-5 d-flex flex-wrap flex-justify-end">
	{% if page.exec == 'binder' %}
	{% include notebook_binder_link.html %}
	{% elsif page.exec == 'colab' %}
	{% include notebook_colab_link.html %}
	{% endif %}
	{% include notebook_github_link.html %}
        </div>
      {% endif -%}
    {% endif -%}
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content | toc  }}

{% if site.disqus-shortname %}
    <br><br>
    {% include disqus.html %}
{% endif %}
<a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<script>
	function run_exec(){
		if("{{page.exec}}" === "binder"){
			if(confirm("이 노트북은 CPU환경인 Binder에서 소스코드를 실행합니다.")){
				var binder_path = "https://mybinder.org/v2/gh/{{site.github_username}}/{{site.github_repo | default: site.baseurl | remove: "/" }}/{{page.branch | default: "master"}}?filepath={{page.nb_path | url_encode }}";
				alert("Binder는 Docker기반의 컨테이너를 직접 빌드하기 때문에 시간이 다소 소요됩니다. Build logs의 show버튼을 눌러서 진행상황을 확인하세요");
				window.open(binder_path, "_blank");
							
			}
			
		}else if("{{page.exec}}" === "colab"){
			if(confirm("이 노트북은 GPU환경인 Google Colab에서 소스코드를 실행합니다.")){
				var colab_path = "https://colab.research.google.com/github/{{site.github_username}}/{{site.github_repo | default: site.baseurl | remove: "/" }}/blob/{{page.branch | default: "master"}}/{{page.nb_path}}";
				alert("GPU 설정을 위해 Colab 상단 메뉴중, 런타임 → 런타임 유형변경에서 GPU를 선택해주세요. (미선택시 CPU에서 실행됨)");
				window.open(colab_path, "_blank");
			}			
		}else{
			alert("해당 실행환경은 구동이 불가능합니다. Binder와 Google Colab 중 한가지를 선택해주세요.");
		}
	}

    function code_listener() {
	var input_area = document.getElementsByClassName("input_area");
	var output_area = document.getElementsByClassName("output_area");
    	
	for(var i = 0 ; i < input_area.length; i++){
		input_area[i].onclick = function(){
			run_exec();
    		}
	}

	for(var i = 0 ; i < output_area.length; i++){
		output_area[i].onclick = function(){
			run_exec();
    		}
	}
    } 

    code_listener();
</script>